[submodule "Satoshi/vendor/spdlog"]
	path = Satoshi/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Satoshi/vendor/GLAD_GL"]
	path = Satoshi/vendor/GLAD_GL
	url = https://github.com/mises-games/glad_gl.git
[submodule "Satoshi/vendor/ImGui"]
	path = Satoshi/vendor/ImGui
	url = https://github.com/mises-games/imgui.git
[submodule "Satoshi/vendor/yaml_cpp"]
	path = Satoshi/vendor/yaml_cpp
	url = https://github.com/mises-games/yaml_cpp.git
[submodule "Satoshi/vendor/glm"]
	path = Satoshi/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Satoshi/vendor/DirectXMath"]
	path = Satoshi/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "Satoshi/vendor/GLFW"]
	path = Satoshi/vendor/GLFW
	url = https://github.com/mises-games/glfw.git
